---
import IconCheck from './IconCheck.astro'

interface Props {
  items: string[]
}

const { items } = Astro.props
---

<ul>
  {
    items.map(item => (
      <li>
        <IconCheck />
        {item}
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: grid;
    gap: 4rem;
    list-style: none;
  }

  li {
    align-items: center;
    display: grid;
    gap: 3.5rem;
    grid-template-columns: auto 1fr;
  }

  @container (width >= 284rem) {
    ul {
      max-width: 108rem;
    }
  }
</style>
